<% provide :title, "Đừng sống một đời quá nhạt" %>
<% provide :url, "/" %>
<% provide :description, "Ngày đó chở theo ánh mắt trong trẻo nhìn cuộc đời không một chút hoài nghi, thế giới trong đồng tử của một đứa trẻ con bao giờ cũng đẹp tuyệt." %>

<div class="autopagerize_page_element">
  <div class="content">
    <% @posts.each do |post|%>
      <div class="post animated fadeInDown">
        <div class="post-title">
          <h2>
            <%= link_to post.title , post_path(post) %>
          </h2>
        </div>
        <div class="post-content">
          <p><%= post.description %></p>
        </div>
        <div class="post-footer">
          <div class="meta">
            <div class="info">
              <img src="<%= asset_path("icons/clock.svg") %>" alt="icon-clock"><span class="date"> <%= post.created_at.strftime(Settings.time.formats) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
